/*
Theme Name: Witham Intranet
Description: Child theme for Woffice
Template: woffice
*/

//@import url("../woffice/css/foundation.css");
@import "partials/colors";
/* =Theme customization starts here */
// main menu
#navigation {
  #mCSB_2 {
    background-image:url('./images/logo-w-with-lines.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    .main-menu {
      li a, // link color
      li.current-menu-item a,
      li.current_page_item a {
        color: $menuFont;
      }
      li>a:hover, // hover color:
      ul.sub-menu li.current-menu-item a:hover,
      ul.sub-menu li.current_page_item a:hover {
        color: $menuFont;
      }
    }
  }
  #sidenav-widgets {
    .intern-padding {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

//header

header#featuredbox {
  .featured-background { //fixing header image display
    background-attachment: scroll;
  }

  .featured-layer {
    opacity: .2; //opacity of header image overlay
  }

  .pagetitle > h1 {
    text-shadow: 2px 2px #414f63; //text-shadow on page title
  }
}

.page-id-132 #featuredbox .featured-background {
  background-position: center center; //background-position for Directory header
}

.page-id-74 #featuredbox .featured-background {
  background-position: top center; //background-position for Resources header
}


// blog archive
#content-container {
  .masonry-layout {
      .box.blog-item {
        border-radius: 0px;
        .intern-thumbnail{
          height: initial;
          border-radius: 0px;
          a {
            border-radius: 0px;
          }
        }
      }
  }
}

// single post
#content {
    article {
      .intern-thumbnail {
        //width: 100%;  setting in theme options -> Title Box -> Height of featured image.
        //height: 100%!important;
        text-align: center;
      }
    }
}
// Footer
#main-footer {

}
@import "partials/media"; // keep at end of of file
